{% block content %}
</div>
<footer>
    <nav class="navbar navbar-default navbar-bottom">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                <li> <a href="https://sciences.edu.umontpellier.fr" title="W3.CSS" target="_blank">FDS UM2</a>Copyright &copy;2018</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

            </ul>
        </div>
    </nav>
</footer>
<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 4000);
}
var mySidebar = document.getElementById("mySidebar");
function w3_open() {
    if (mySidebar.style.display === 'block' & myOverlay.style.display === 'block') {
      myOverlay.style.display = 'none';
      mySidebar.style.display = 'none';
    } else {
        mySidebar.style.display = 'block';
        myOverlay.style.display = "block";
    }
}
// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    myOverlay.style.display = "none";
}
</script>

{% endblock content %}
