{% load static %}
{% block content %}
<!-- Page content -->
<div class="w3-content" style="max-width:200%;margin-top:46px">

  <!-- Automatic Slideshow Images -->
  <div class="mySlides w3-display-container w3-center">
    <img src="{% static 'img/dogo1.jpeg' %}" alt="Teiki" class="responsive" style="width:100%; height:750px">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3><b>CHIEN</b></h3>
      <a href="/dogo/Chien">Liste des Chiens</a>
      <p><b></b></p>
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="{% static 'img/dogo3.jpg' %}" alt="Teiki" class="responsive" style="width:100%; height:750px">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <<h3><b>PROPRIETAIRE</b></h3>
      <a href="/dogo/Proprietaire">Liste des Proprietaires</a>
      <p><b></b></p>
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="{% static 'img/dogo4.jpg' %}" alt="Teiki" class="responsive" style="width:100%; height:750px">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3><b>RACE</b></h3>
      <p><b><a href="/dogo/Race">Liste des Races</a></b></p>
    </div>
  </div>
{% endblock content %}
